<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <!--vendors-->
    <script src="src/vendor/angular/angular.js"></script>
    <script src="src/vendor/angular-resource/angular-resource.js"></script>
    <script src="src/vendor/moment/moment.js"></script>
    <script src="src/vendor/angular-datepicker/dist/index.js"></script>

    <!--app-->
    <script src="src/app/app.module.js"></script>
    <script src="src/app/app.config.js"></script>
    <script src="src/app/app.js"></script>

    <!--list of modules-->
    <script src="src/modules/modules.js"></script>

    <!--modules-->
    <script src="src/modules/search/search.modules.js"></script>
    <script src="src/modules/search/searchApi.js"></script>
    <script src="src/modules/search/search.js"></script>

    <script src="src/modules/selectbox/selectbox.modules.js"></script>
    <script src="src/modules/selectbox/selectbox.component.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Armata" rel="stylesheet">

    <!--design of select-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

    <!--css-->
    <link rel="stylesheet" href="src/css/main.css"/>
    <link rel="stylesheet" href="src/css/selectbox.css"/>

    <!--vendor css-->
    <link rel="stylesheet" href="src/vendor/angular-datepicker/dist/index.css"/>

</head>
<body ng-app="app" ng-controller="AppCtrl">

<section id="header">

</section>

<section id="content">
    <section id="search">
        <form name="flights">

            <div class="item">
                <selectbox list="airports" model="searchParams.from" placeholder="Odkud"></selectbox>
            </div>

            <div class="item">
                <selectbox list="airportsD" model="searchParams.destination" placeholder="Kam"></selectbox>
            </div>

            <br/>

            <div class="item">
                <input date-time name="pickerMinDate" ng-model="searchParams.dateFrom" id="pickerMinDate"
                       min-date="minDate"
                       view="date" min-view="hours" timezone="UTC" placeholder="Odlet" auto-close="true">
            </div>
            <div class="item">
                <input date-time name="pickerMaxDate" ng-model="searchParams.dateBack" id="dateBack" max-date="maxDate"
                       view="date" min-view="hours" timezone="UTC" placeholder="Návrat" auto-close="true">
            </div>

        </form>
    </section>
    <section id="results">

        <div ng-repeat="result in results.data" class="card">
            <div class="left">
                <div class="price">{{result.price}} €</div>
            </div>
            <div class="right">
                <span class="cityFrom">{{result.cityFrom}}</span> --> <span class="cityTo">{{result.cityTo}}</span>
                <div class="fly_duration">{{result.fly_duration}}</div>
            </div>
        </div>

    </section>
</section>


</body>
</html>